.contact-section {
    padding: 150px 0 80px;
}

.contact-section .contact-form .form-group {
    margin-bottom: 20px;
}

.contact-section .contact-form .form-control {
    height: 50px;
    border-radius: 5px;
}

.contact-section .contact-form textarea.form-control {
    height: 120px;
    margin-bottom: 10px;
}

.contact-section .contact-form .form-control:focus {
    box-shadow: none;
}
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
}
.btn1:hover{
    background-color: #e6edff;
    color: #303054;
}
